$background-color: #dddddd;


.monospaced {
    font-family: "Courier New", monospace;
    background-color: $background-color;
}

p {
    line-height: 1.2;
}

div {
    text-align: justify;
    width: 90%;
    display: contents;
}